@model IEnumerable<BetsyBryant_Assignment3.Models.Actor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorIMDBLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorIMDBLink)
            </td>
            <td>
                @if (item.ActorPhoto != null)
                {
                    <img width="100" height="100" src="@Url.Action("GetActorPhoto","Actors", new {item.ActorId})" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
